{{!-- <h2>Hi , {{session}}</h2>
<form action="/getData/subscribe" method="post">

  <div class="sensorData">
    {{#each items.data }}
      {{#if this.onConnect }}
          <div>Id: {{ this._id }}</div>
          <div>Date: {{ this.date }}</div>
          <div>Name: {{ this.name }}</div>
          <div>temp: {{ this.temp }}</div>
          <div>onConnect: {{ this.onConnect }}</div>
          <div><input type="checkbox" name="subscribe_checkbox" id="checkbox_{{ this._id }}" value="{{ this._id }}"> Subscribe</div>
          <div>------------------------------------</div>
      {{else}}
          <div><s>Id: {{ this._id }}</s></div>
          <div><s>Date: {{ this.date }}</s></div>
          <div><s>Name: {{ this.name }}</s></div>

          <!--<div><input type="checkbox" name="subscribe_checkbox" id="checkbox_{{ this._id }}" value="{{ this._id }}"> Subscribe</div>-->
          <div>------------------------------------</div>
      {{/if}}
    {{/each}}
  </div>
  <button type="submit">submit</button>
  <button> <a href="/observe">observe window</a></button>
</form>
<!--<script src="/js/socket.js"></script>--> --}}
{{>header}}
<div class="wrapper">
  <div class="container">
    <div class="row">

      <div class="span3">
        <div class="sidebar">
            <ul class="widget widget-menu unstyled">
              <li class="active"><a href="/getData"><i class="menu-icon icon-list-alt"></i>Sensors
              </a></li>
              <li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
                  19</b> </a></li>
              <li><a class="collapsed" data-toggle="collapse" href="#togglePages1"><i class="menu-icon icon-desktop">
                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                </i>observe window </a>
                  <ul id="togglePages1" class="collapse unstyled">
                      <li><a href="/observe"><i class="icon-table"></i> Table</a></li>
                      <li><a href="other-user-profile.html"><i class="icon-map-marker"></i> Graph</a></li>
                  </ul>
              </li>
            </ul>
            <!--/.widget-nav-->
        </div>
        <!--/.sidebar-->
      </div>
      <!--/.span3-->
      <div class="span9">
          <div class="content">
              <div class="module">
                  <div class="module-head">
                      <h3>
                          All Sensors</h3>
                  </div>
                  <div class="module-option clearfix">
                      <form>
                      <div class="input-append pull-left">
                          <input type="text" class="span3" placeholder="Filter by name...">
                          <button type="submit" class="btn">
                              <i class="icon-search"></i>
                          </button>
                      </div>
                      </form>
                      <div class="btn-group pull-right" data-toggle="buttons-radio">
                          <button type="button" class="btn">
                              All</button>
                          <button type="button" class="btn">
                              Online</button>
                          <button type="button" class="btn">
                              Offline</button>
                      </div>
                  </div>
                  <div class="module-body">
                      <div class="row-fluid">
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                          <small class="muted">Lab B24 Meeting Room</small></p>
                                          <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                          <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                            <input type="checkbox" value="">
                                            Subscribe
                                          </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                      <small class="muted">Lab B24 Meeting Room</small></p>
                                      <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <!--/.row-fluid-->

                      <br />
                      <div class="row-fluid">
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                      <small class="muted">Lab B24 Meeting Room</small></p>
                                      <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                          <small class="muted">Lab B24 Meeting Room</small></p>
                                          <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                          <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                            <input type="checkbox" value="">
                                            Subscribe
                                          </label>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <!--/.row-fluid-->

                      <br />
                      <div class="row-fluid">
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body" style="">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                          <small class="muted">Lab B24 Meeting Room</small></p>
                                          <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                          <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                            <input type="checkbox" value="">
                                            Subscribe
                                          </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user offline" style="border:1px solid #d9d9d9">
                                  <div class="media-body">
                                      <h3 class="media-title">
                                          Sensor 1
                                      </h3>
                                      <p><small class="muted">Lab B24 Outdoor</small></p>
                                      <i class="icon-eye-close" style="color:red;margin:5px"></i>
                                      <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                        <input type="checkbox" value="">
                                        Subscribe
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="span3">
                              <div class="media user online" style="border:1px solid #d9d9d9">

                                  <div class="media-body" >
                                      <h3 class="media-title">
                                          Sensor 2</h3>
                                      <p>
                                          <small class="muted">Lab B24 Meeting Room</small></p>
                                          <i class="icon-eye-open" style="color:green;margin:5px"></i>
                                          <label class="checkbox inline" style="margin-left:10px;padding-bottom:8px">
                                            <input type="checkbox" value="">
                                            Subscribe
                                          </label>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <!--/.row-fluid-->
                      <br/>
                      <div class="pull-right">
									       <a class="btn btn-primary">Submit</a>
                         <a class="btn btn-info">Observe Window</a>
								      </div>
                      <br/>
                      <div class="pagination pagination-centered">
                          <ul>
                              <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!--/.content-->
      </div>
      <!--/.span9-->
    </div>
  </div>
</div>
{{>footer}}
