{{!-- <h1>OBSERVE</h1>
<p class="sensorData">
  {{#each items }}
    {{#if this._sensorID.onConnect }}
      <div id="{{this._sensorID._id}}" class="sensor">
          <div>Date: {{ this._sensorID.date }}</div>
          <div>Name: {{ this._sensorID.name }}</div>
          <div>temp: {{ this._sensorID.temp }}</div>
          <div>onConnect: {{ this._sensorID.onConnect }}</div>
          <div>------------------------------------</div>
      </div>
    {{else}}
      <div id="{{this._sensorID._id}}" class="sensor">
          <div><s>Date: {{ this._sensorID.date }}</s></div>
          <div><s>Name: {{ this._sensorID.name }}</s></div>
          <!--<div><input type="checkbox" name="subscribe_checkbox" id="checkbox_{{ this._id }}" value="{{ this._id }}"> Subscribe</div>-->
          <div>------------------------------------</div>
      </div>
    {{/if}}
  {{/each}}
</p> --}}

{{>header}}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="sidebar">
            <ul class="widget widget-menu unstyled">
              <li class="active"><a href="/getData"><i class="menu-icon icon-list-alt"></i>Sensors
              </a></li>
              <li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
                  19</b> </a></li>
              <li><a class="collapsed" data-toggle="collapse" href="#togglePages1"><i class="menu-icon icon-desktop">
                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                </i>observe window </a>
                  <ul id="togglePages1" class="collapse unstyled">
                      <li><a href="/observe"><i class="icon-table"></i> Table</a></li>
                      <li><a href="other-user-profile.html"><i class="icon-map-marker"></i> Graph</a></li>
                  </ul>
              </li>
            </ul>
            <!--/.widget-nav-->
        </div>
        <!--/.sidebar-->
      </div>
      <!--/.span3-->
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">

                <h3 style="float:left">Observer Window</h3>
                <img src="Edmin/images/Radio-200px.gif" style="height:25px;width:25px;margin:0px 5px">

            </div>
            <div class="module-body">

              <table class="table table-condensed table-striped datatable-1">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Descrition</th>
                  <th>Temparature</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Sensor 1</td>
                  <td>B24 Lab</td>
                  <td>24 C</td>
                  <td><b class="online" >online</b></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Sensor 1</td>
                  <td>B24 Lab</td>
                  <td>24 C</td>
                  <td><b class="offline" >offline</b></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sensor 1</td>
                  <td>B24 Lab</td>
                  <td>24 C</td>
                  <td><b class="offline" >offline</b></td>
                </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        <br />

        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div>
</div>
{{>footer}}
<script>
  var name = "{{session}}";
</script>
<script src="/js/observe.js"></script>
