
{{>header}}
<link href="/timeline/timeline.css" rel="stylesheet" />
<link href="/Edmin/css/pagination.css" rel="stylesheet" />
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
              <div class="module-head">
                  <h3>Logs</h3>
              </div>
              <div class="module-body">
                <div class="row-fluid">

                  <div class="span2">
                    <div class="control-group">
                      <label class="control-label" for="basicinput">Filter by</label>
                      <div class="controls">
                        <select tabindex="1" data-placeholder="Select here.." class="span12" id="sort-by">
                          <option value="">Select here..</option>
                          <option value="date">date</option>
                          <option value="subscription">subscription</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="span2">
                    <div class="control-group">
                      <label class="control-label" for="basicinput">Go to</label>
                      <div class="controls">
                        <select tabindex="1" data-placeholder="Select here.." class="span12" id="theOption">
                          <option value="">Select here..</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="span2 pt-md-4">
                      <a href="#" class="btn btn-primary" id="query-btn">Query</a>
                  </div>
                  <div class="span6 pt-md-4">
                    <div class="page-option">
                      <div class="page">
                        page :
                        <div class="btn-group">
      										<button class="btn" id="page-btn">1</button>
      										<button class="btn dropdown-toggle" data-toggle="dropdown">
      											<span class="caret"></span>
      										</button>
      										<ul class="dropdown-menu" style="min-width: 70px;" id="page-num">
      											{{{howManyPage total}}}
      										</ul>
                        </div>
                      </div>
                      <div class="page">
                        <a href="#" class="btn btn-info" id="page-previous" disabled>previous</a>
                      </div>

                      <div class="page">
                        <a href="#" class="btn btn-info" id="page-next">next</a>
                      </div>
                    </div>

									</div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div id="content">
                    <!-- <h1>Timeline (Saira + Chivo Fonts)</h1> -->
                    <ul class="timeline" >
                      {{#each items}}
                        <li class="event" data-date="{{this.date}}">
                          <div class="row-fluid">
                            <div class="span5">
                              <h2><strong>{{this.title}}</strong></h2>
                            </div>
                            <div class="span7">
                              <!-- load subscriptionLog msg  -->
                              {{!-- ex:
                              <p class="font-safe">
                                <i class="icon-md icon-ok"></i>
                                ${logMsg}
                              </p> --}}
                              {{{loadLogMsg this.logStatus this.logMsg}}}
                            </div>
                          </div>


                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{>footer}}

<script>
  const subscriptions = {{{subscriptions}}};
  var total = {{{total}}};
</script>
<script id="logMsg-temp" type="text/x-handlebars-template">
  <li class="event" data-date="\{{date}}">
    <div class="row-fluid">
      <div class="span5">
        <h2><strong> \{{title}} </strong></h2>
      </div>
      <div class="span7">
        <p class="\{{color}}">
          \{{{logMsg}}}
        </p>
      </div>
    </div>
  </li>
</script>
<script id="warning-logMsg-temp" type="text/x-handlebars-template">
  <li class="event" data-date="\{{date}}">
    <h2><strong> \{{title}} </strong></h2>
    <p class="font-warning">
      <i class="icon-md icon-warning-sign"></i>
      \{{logMsg}}
    </p>
  </li>
</script>
<script id="safe-logMsg-temp" type="text/x-handlebars-template">
  <li class="event" data-date="\{{date}}">
    <h2><strong> \{{title}} </strong></h2>
    <p class="font-safe">
      <i class="icon-md icon-ok"></i>
      \{{logMsg}}
    </p>
  </li>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js" type="text/javascript"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/viewLog.js"></script>
